<p class="text-center mt-5 h4">WEB SERVICES</p>
<p class="text-center text-success">( వెబ్ సేవలు )</p>
<div class="row mt-4">
  <div class="col-sm-4 text-center">
    <p>1 Page Website</p>
    <p class="text-success">( 1 పేజీ వెబ్‌సైట్ )</p>
  </div>
  <div class="col-sm-4 text-center">
    <p>Multi-Page Website</p>
    <p class="text-success">( బహుళ పేజీ వెబ్‌సైట్ )</p>
  </div>
  <div class="col-sm-4 text-center">
    <p>E-Commerce Website</p>
    <p class="text-success">( ఇ-కామర్స్ వెబ్‌సైట్ )</p>
  </div>
</div>

<p class="text-center mt-5 h4">Graphic Design Packages</p>
<p class="text-center text-success">( గ్రాఫిక్ డిజైన్ ప్యాకేజీలు )</p>
<div class="row mt-4">
  <div class="col-sm-4 text-center">
    <p>Visiting Copy (Soft Copy)</p>
    <p class="text-success">( కాపీని సందర్శించడం )</p>
  </div>
  <div class="col-sm-4 text-center">
    <p>Brochure (Soft Copy)</p>
    <p class="text-success">( బ్రోచర్ )</p>
  </div>
  <div class="col-sm-4 text-center">
    <p>Pamphlet (Soft Copy)</p>
    <p class="text-success">( కరపత్రం )</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 text-center">
    <p>Logo Design (Soft Copy)</p>
    <p class="text-success">( లోగో డిజైన్ (సాఫ్ట్ కాపీ) )</p>
  </div>
</div>

<p class="text-center mt-5 h4">Local Marketing Packages</p>
<p class="text-center text-success">( స్థానిక మార్కెటింగ్ ప్యాకేజీలు )</p>
<div class="row mt-4">
  <div class="col-sm-4 text-center">
    <p>Listing In 10 Local Website</p>
    <p class="text-success">( 10 స్థానిక వెబ్‌సైట్‌లో జాబితా )</p>
  </div>
  <div class="col-sm-4 text-center">
    <p>City Wise SEO Promotion</p>
    <p class="text-success">( సిటీ వైజ్ SEO ప్రమోషన్ )</p>
  </div>
  <div class="col-sm-4 text-center">
    <p>Social Media Pages Creations</p>
    <p class="text-success">( సోషల్ మీడియా పేజీల సృష్టి )</p>
  </div>
</div>
