<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide bg-secondary" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg-secondary" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="bg-secondary" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/Image2.jpeg" class="d-block w-100 imgSizer" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/Image1.jpeg" class="d-block w-100 imgSizer" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <h3 class="text-center text-primary">Contact Us</h3>
            <h3 class="text-center text-success">సంప్రదింపు సమాచారం</h3>
            <hr>        
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <h6>
                <span><i class="fas fa-phone fa-3x"></i></span><br>
                <span>Phone Number</span><br>
                <span class="text-success">ఫోను నంబరు</span> 
                   
            </h6>
            <h5 class="mt-2 text-info">9999999999</h5>
        </div>
        <div class="col-sm-4 text-center">
            <h6>
                <span><i class="fas fa-envelope fa-3x"></i></span><br>
                <span>Mail ID</span><br>
                <span class="text-success">ఇమెయిల్ ఐడి</span> 
                   
            </h6>  
            <h5 class="mt-2 text-info">chintu.vardhan23@gmail.com</h5>
        </div>
        <div class="col-sm-4 text-center">
            <h6>
                <a href="https://goo.gl/maps/xzfZey8xDyUSgEeK7" title="click here to get location"><span><i class="fas fa-map-marked-alt fa-3x"></i></span><br></a>
                <span>Location</span><br>
                <span class="text-success">స్థానం</span>    
            </h6> 
        </div>
    </div>

    
</div>
