
<div class="row d-flex justify-content-center">
    <div class="col-sm-3 text-center m-4 box shadow-lg p-0 content" *ngFor="let file of meeSevaData">
        <p class="heading">{{file.name}}</p>
        <p class="btn-area" [routerLink]="[file.name]">
            <button class="btn btn-info mb-2" [routerLink]="[file.name]">View Required Documents</button>
        </p>
    </div>
</div>
<div class="row">
    <h3 class="text-center mt-3 text-danger">We Also provide other services which includes :</h3>
</div>
<div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
        <ol>
            <li>Issueing of Death Certificates</li>
            <li>Issueing of Birth Certificates</li>
            <li>EC Pahane</li>
            <li>All other online applications</li>
        </ol>
    </div>
    <div class="col-sm-5"></div>

</div>
    