<h3 class="mt-5 text-center">OTHER SERVICES</h3>
<div class="main text-center">
  <div class="row mt-4">
    <div class="col-sm-3 text-center">
      <img src="../../assets/otherServices/flight.jpg" />
      <p>Flight Bookings</p>
      <p class="text-success">విమాన బుకింగ్‌లు</p>
    </div>
    <div class="col-sm-3 text-center">
      <img src="../../assets/otherServices/bus.jpg" />
      <p>Bus Bookings</p>
      <p class="text-success">బస్సు బుకింగ్‌లు</p>
    </div>
    <div class="col-sm-3 text-center">
      <img src="../../assets/otherServices/train.jpg" />
      <p>Train Bookings</p>
      <p class="text-success">రైలు బుకింగ్‌లు</p>
    </div>
    <div class="col-sm-3 text-center">
      <img src="../../assets/otherServices/phone.jpg" />
      <p>Mobile Recharge</p>
      <p class="text-success">మొబైల్ రీఛార్జ్</p>
    </div>

    <div class="row mt-4">
      <div class="col-sm-3 text-center">
        <img src="../../assets/otherServices/car.jpg" />
        <p>Car Insurance</p>
        <p class="text-success">కారు భీమా</p>
      </div>
      <div class="col-sm-3 text-center">
        <img src="../../assets/otherServices/dth.jpg" />
        <p>DTH Recharge</p>
        <p class="text-success">DTH రీఛార్జ్</p>
      </div>
      <div class="col-sm-3 text-center">
        <img src="../../assets/otherServices/money.jpg" />
        <p>Money Transfer</p>
        <p class="text-success">డబ్బు బదిలీ</p>
      </div>
      <div class="col-sm-3 text-center">
        <img src="../../assets/otherServices/health.jpg" />
        <p>Health Insurance</p>
        <p class="text-success">ఆరోగ్య భీమా</p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-3 text-center">
        <img src="../../assets/otherServices/water.jpg" />
        <p>Water Bill Payments</p>
        <p class="text-success">నీటి బిల్లు చెల్లింపులు</p>
      </div>
      <div class="col-sm-3 text-center">
        <img src="../../assets/otherServices/hotel.jpg" />
        <p>Hotel Bookings</p>
        <p class="text-success">హోటల్ బుకింగ్‌లు</p>
      </div>
      <div class="col-sm-3 text-center">
        <img src="../../assets/otherServices/electricity.jpg" />
        <p>Electricity Bill Payments</p>
        <p class="text-success">విద్యుత్ బిల్లు చెల్లింపులు</p>
      </div>
      <div class="col-sm-3 text-center">
        <img src="../../assets/otherServices/gas.jpg" />
        <p>Gas Bill Payments</p>
        <p class="text-success">గ్యాస్ బిల్లు చెల్లింపులు</p>
      </div>
      <div class="col-sm-3 text-center">
        <img src="../../assets/otherServices/bike.jpg" />
        <p>Two Wheeler Insurance</p>
        <p class="text-success">ద్విచక్ర వాహన బీమా</p>
      </div>
    </div>
  </div>
</div>