<h3 class="mt-5 text-center">Other Services</h3>
<div class="main text-center">
  <div class="row">
    <div class="col-sm-3">
      <img src="../../assets/otherServices/flight.jpg" /><br />
      <p class="mt-3">Flight Bookings</p>
      <br />
      <p class="mt-3 text-success">విమాన బుకింగ్‌లు</p>
    </div>
    <div class="col-sm-3">
      <img src="../../assets/otherServices/bus.jpg" /><br />
      <p class="mt-3">Bus Bookings</p>
      <br />
      <p class="mt-3 text-success">బస్సు బుకింగ్‌లు</p>
    </div>
    <div class="col-sm-3">
      <img src="../../assets/otherServices/train.jpg" /><br />
      <p class="mt-3">Train Bookings</p>
      <br />
      <p class="mt-3 text-success">రైలు బుకింగ్‌లు</p>
    </div>
    <div class="col-sm-3">
      <img src="../../assets/otherServices/phone.jpg" /><br />
      <p class="mt-3">Mobile Recharge</p>
      <br />
      <p class="mt-3 text-success">మొబైల్ రీఛార్జ్</p>
    </div>
    <div>
      <div class="row">
        <div class="col-sm-3">
          <img src="../../assets/otherServices/car.jpg" /><br />
          <p class="mt-3">Car Insurance</p>
          <br />
          <p class="mt-3 text-success">కారు భీమా</p>
        </div>
        <div class="col-sm-3">
          <img src="../../assets/otherServices/dth.jpg" /><br />
          <p class="mt-3">DTH Recharge</p>
          <br />
          <p class="mt-3 text-success">DTH రీఛార్జ్</p>
        </div>
        <div class="col-sm-3">
          <img src="../../assets/otherServices/money.jpg" /><br />
          <p class="mt-3">Money Transfer</p>
          <br />
          <p class="mt-3 text-success">డబ్బు బదిలీ</p>
        </div>
        <div class="col-sm-3">
          <img src="../../assets/otherServices/health.jpg" /><br />
          <p class="mt-3">Health Insurance</p>
          <br />
          <p class="mt-3 text-success">ఆరోగ్య భీమా</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <img src="../../assets/otherServices/water.jpg" /><br />
          <p class="mt-3">Water Bill Payments</p>
          <br />
          <p class="mt-3 text-success">నీటి బిల్లు చెల్లింపులు</p>
        </div>
        <div class="col-sm-3">
          <img src="../../assets/otherServices/hotel.jpg" /><br />
          <p class="mt-3">Hotel Bookings</p>
          <br />
          <p class="mt-3 text-success">హోటల్ బుకింగ్‌లు</p>
        </div>
        <div class="col-sm-3">
          <img src="../../assets/otherServices/electricity.jpg" /><br />
          <p class="mt-3">Electricity Bill Payments</p>
          <br />
          <p class="mt-3 text-success">విద్యుత్ బిల్లు చెల్లింపులు</p>
        </div>
        <div class="col-sm-3">
          <img src="../../assets/otherServices/gas.jpg" /><br />
          <p class="mt-3">Gas Bill Payments</p>
          <br />
          <p class="mt-3 text-success">గ్యాస్ బిల్లు చెల్లింపులు</p>
        </div>
        <div class="col-sm-3">
          <img src="../../assets/otherServices/bike.jpg" /><br />
          <p class="mt-3">Two Wheeler Insurance</p>
          <br />
          <p class="mt-3 text-success">ద్విచక్ర వాహన బీమా</p>
        </div>
      </div>
    </div>
  </div>
</div>
