.heading {
  background-color: rgb(1, 6, 22);
  --bs-gutter-x: 0;
  color: white;
  height: 150px;
  
}
h1 {
  font-family: "Belgrano";
  padding: 50px 0 0 20px;
}
img {
  margin: 0 50px 0 10px;
  padding: 40px 0 0 20px;
}
